{ config, pkgs, ... }:

{
  imports = [
    ./modules/home.nix
    ./modules/packages.nix
    ./modules/shell-aliases.nix
    ./modules/programs/bash.nix
    ./modules/programs/bat.nix
    ./modules/programs/btop.nix
    {{- if not (and (eq .chezmoi.os "linux") (contains "microsoft" .chezmoi.kernel.osrelease)) }}
    ./modules/programs/code.nix
    {{- end }}
    ./modules/programs/eza.nix
    ./modules/programs/fish.nix
    ./modules/programs/git.nix
    ./modules/programs/lazygit.nix
    ./modules/programs/yazi.nix
  ];

  # Let Home Manager install and manage itself.
  programs.home-manager.enable = true;
}
