# Chemins NKERMANI
export NK_DIR="$HOME/.nkermani"
export PATH="$NK_DIR/bin:$PATH"

# Configuration Oh My Zsh
export ZSH="$NK_DIR/apps/ohmyzsh"

# Plugins demandés
plugins=(
    git
    zsh-syntax-highlighting
    zsh-autosuggestions
    auto-notify
    you-should-use
    zsh-history-substring-search
)

export ZSH="$HOME/.nkermani/apps/ohmyzsh"
ZSH_THEME="robbyrussell"
source $ZSH/oh-my-zsh.sh

