#!/bin/bash
{{ include ".chezmoitemplates/env.sh.tmpl" }}

echo "🌐 Initializing base environment..."
echo "  OS: $OS_TYPE ($ARCH_TYPE)"
echo "  NK_DIR: $NK_DIR"
echo "  IS_42: $IS_42"
echo "  HAS_SUDO: $HAS_SUDO"

