{{- if (and (eq .chezmoi.os "linux") (not (.chezmoi.kernel.osrelease | lower | contains "microsoft"))) -}}
#!/bin/bash

# Delay: 2000 | Rate: 100   (Hz)

echo "🚀 Tweaking Linux (Keyboard & Mouse)..."
# 1. Keyboard
if command -v xset >/dev/null; then
    xset r rate 200 100  # stored: fast (200ms delay, 100Hz rate)
    # xset r rate 500 30    # default
fi

# 2. GNOME
if command -v gsettings >/dev/null; then
    # Keyboard
    # gsettings set org.gnome.desktop.peripherals.keyboard delay 500       # default
    # gsettings set org.gnome.desktop.peripherals.keyboard repeat-interval 50  # default
    gsettings set org.gnome.desktop.peripherals.keyboard delay 200      # stored: fast
    gsettings set org.gnome.desktop.peripherals.keyboard repeat-interval 10  # stored: fast

    # Souris : Flat no accel
    gsettings set org.gnome.desktop.peripherals.mouse accel-profile 'flat'
    gsettings set org.gnome.desktop.peripherals.mouse speed 0
fi

echo "✅ Linux tweaked!"
{{- end }}

