{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Delay: 10 | Rate: 1 | Mouse Accel: OFF

echo "🚀 Tweaking macOS (Keyboard & Mouse)..."

# Keyboard setup
defaults write -g InitialKeyRepeat -int 10 # stored: fast (150ms)
defaults write -g KeyRepeat -int 1        # stored: fast (15ms)
# defaults write -g InitialKeyRepeat -int 25  # default (375ms)
# defaults write -g KeyRepeat -int 6          # default (83ms)

defaults write -g ApplePressAndHoldEnabled -bool false

defaults write .GlobalPreferences com.apple.mouse.scaling -1

echo "✅ macOS tweaked!"
{{- end }}
