{
  programs.fish = {
    shellInit =
      ''
        # Hide welcome message
        set fish_greeting ""

        # EDITOR
        set -gx EDITOR "zed"
        set -gx VISUAL "zed"

        function fish_prompt
            set -l last_status $status
            set -l fish     (set_color green)
            set -l normal   (set_color normal)

            # First line: path and git info
            echo -n (set_color blue)(prompt_pwd)(set_color normal)
            if git rev-parse --git-dir > /dev/null 2>&1
                set -l branch (git branch --show-current 2>/dev/null; or git rev-parse --short HEAD)
                echo -n (set_color yellow)" ["$branch"]"(set_color normal)
            end
            echo

            # Second line: prompt character
            echo -n $fish"> "$normal
        end
      ''
      {{- if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (contains "microsoft" .chezmoi.kernel.osrelease)) }}
      + ''
          if test -f ~/.nix-profile/etc/profile.d/nix.fish
            source ~/.nix-profile/etc/profile.d/nix.fish
          else if test -f /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.fish
            source /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.fish
          end
        ''
      {{- end }}
      + ''
          set -gx PATH $NK_BIN $HOME/.local/bin $HOME/.cargo/bin $PATH
        ''
      {{- if eq .chezmoi.os "darwin" }}
      + ''
          set -gx PATH $PATH /Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin /usr/local/bin /opt/homebrew/bin
        ''
      {{- end }}
      {{- if eq .chezmoi.os "linux" }}
      + ''
          if test -x "$HOME/nix-user-chroot"
            set -gx PATH $HOME/.local/bin $PATH
          end
        ''
      {{- end }}
      ;
  };
}
