{
  imports = [
    ./bat.nix
    ./broot.nix
    ./btop.nix
    {{- if not (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (contains "microsoft" .chezmoi.kernel.osrelease)))}}
      ./code.nix
    {{- end }}
    ./eza.nix
    ./git.nix
    ./helix.nix
    ./shells
  ];
}
