{ config, lib, ... }:

{
  home.username = "nkermani";
  home.homeDirectory = lib.mkDefault (builtins.getEnv "HOME");
  home.stateVersion = "24.11";

  programs = {
    {{- if not (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (contains "microsoft" .chezmoi.kernel.osrelease)))}}
      "zed-editor".enable = true; # 1st GUI Editor
      vscode.enable = false; # Staying on default @42
      lazyvim.enable = false; # No need there's fresh
      neovide.enable = false; # No need there's fresh
    {{- end }}

    bat.enable = true;
    broot.enable = true;
    btop.enable = true;
    eza.enable = true;
    fish.enable = true;
    git.enable = true;
    lazygit.enable = false;

    {{- if not (eq .chezmoi.os "darwin")}}
      opencode.enable = false; # Need to be reviewed in detail
    {{- end }}

    uv.enable = true;

    helix.enable = false;
    "fresh-editor".enable = true; # 1st TUI Editor
  };

  xdg.configFile."fontconfig/fonts.conf".text = ''
    <?xml version="1.0" encoding="utf-8"?>
    <!DOCTYPE fontconfig SYSTEM "fonts.dtd">
    <fontconfig>
      <dir prefix="cwd">${config.home.homeDirectory}/.nix-profile/share/fonts</dir>
      <dir prefix="cwd">${config.home.homeDirectory}/.local/share/fonts</dir>
    </fontconfig>
  '';

  home.sessionVariables = {
    PATH = "$HOME/bin:$HOME/.local/bin:$PATH";
    STUDENT_USERNAME = "nkermani";
    STUDENT_EMAIL = "nkermani@student.42lyon.fr";
  };
}
