#!/bin/bash
{{ include ".chezmoitemplates/env.sh.tmpl" }}

# --- FINALIZATION ---
if [[ "$SHELL" != */bash ]]; then
    echo "🐚 Setting default shell to Bash..."
    chsh -s $(which bash)
fi

echo "-------------------------------------------------------"
echo "✅ Deployment Successful!"
echo "✨ Restart your terminal or run 'source ~/.zshrc'"
echo "-------------------------------------------------------"

chmod +x "$HOME/.nkermani/bin/kitty" "$HOME/.nkermani/bin/kitten" "$HOME/.nkermani/bin/42/"* 2>/dev/null
echo "✅ Deployment Successful!"
echo "-------------------------------------------------------"
